.popup__heading {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding: 0;
  margin: 34px 36px 54px;
  text-align: start;
  align-self: flex-start;
  text-align: center;
}

@media screen and (max-width: 580px) {
  .popup__heading {
    font-size: 18px;
    line-height: 22px;
    margin: 40px 22px 50px;
  }
}
