.page {
  background-color: #000000;
  min-height: 100vh;
  color: #fff;
  font-family: "Inter", "Arial", sans-serif;
}

@media screen and (max-width: 1000px) {
  .page {
    width: 100%;
  }
}

* {
  box-sizing: border-box;
}
