.profile__edit-button {
  grid-column-start: 2;
  /* поскольку на mozilla firefox по какой-то причине не работает align-items: baseline; */
  margin: 8px auto 0;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all .5s;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 950px) {
  .profile__edit-button {
    margin: 3px auto 0;
    width: 18px;
    height: 18px;
  }
}
