.auth-form__subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}

@media screen and (max-width: 580px) {
  .auth-form__subtitle {
    font-size: 14px;
    line-height: 17px;
  }
}
