.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 358px;
  margin: 0 auto;
  padding: 40px 0;
  row-gap: 200px;
}

@media screen and (max-width: 580px) {
  .auth-form {
    max-width: 260px;
    row-gap: 140px;
  }
}
